<div class="create-popup">
    <h1>{{data.title}}</h1>

    <div>
        <!-- state Form -->
        <form [formGroup]="stateForm" *ngIf="data.module === 'State'">
            <div>
                <div>
                    <h3>State Code</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>State Code</mat-label>
                         <input matInput formControlName="state_code">
                     </mat-form-field>
                 </div>
            </div>
            <div>
                <div>
                    <h3>State Name</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>State Name</mat-label>
                         <input matInput formControlName="state_name">
                     </mat-form-field>
                 </div>
            </div>
            <div class="btn-wrap">
                <button type="submit" (click)="closePopUp()">Cancel</button>
                <button type="submit" (click)="isEdit ? modify(data.stateId) :  add()">{{isEdit ? 'Update' :
                    'Add'}}</button>
            </div>
        </form>

        <!-- District Form -->
        <form [formGroup]="districtForm" *ngIf="data.module === 'District'">
            <div>
                <div>
                   <h3>District Code</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>District Code</mat-label>
                        <input matInput formControlName="district_code">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                   <h3>District Name</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>District Name</mat-label>
                        <input matInput formControlName="district_name">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                    <h3>State Name</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>State Name</mat-label>
                        <mat-select formControlName="state_id">
                            <mat-option *ngFor="let state of states" [value]="state._id">
                                {{state.state_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="submit" (click)="closePopUp()">Cancel</button>
                <button type="submit" (click)="isEdit ? modify(data.district_id) :  add()">{{isEdit ? 'Update' :
                    'Add'}}</button>
            </div>
        </form>

        <!-- Block Form -->
        <form [formGroup]="blockForm" *ngIf="data.module === 'Block'">
            <div>
                <div>
                    <h3>Block Code</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>Block Code</mat-label>
                         <input matInput formControlName="block_code">
                     </mat-form-field>
                 </div>
            </div>
            <div>
                <div>
                    <h3>Block Name</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>Block Name</mat-label>
                         <input matInput formControlName="block_name">
                     </mat-form-field>
                 </div>
            </div>
            <div>
                <div>
                    <h3>Select State</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>State Name</mat-label>
                        <mat-select formControlName="state_id" (selectionChange)="getdistrictList(blockForm)">
                            <mat-option *ngFor="let state of states" [value]="state._id">
                                {{state.state_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <h3>Select District</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>District Name</mat-label>
                        <mat-select formControlName="district_id">
                            <mat-option *ngFor="let district of districts" [value]="district._id">
                                {{district.district_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="submit" (click)="closePopUp()">Cancel</button>
                <button type="submit" (click)="isEdit ? modify(data.block_id) :  add()">{{isEdit ? 'Update' :
                    'Add'}}</button>
            </div>
        </form>

        <!-- Village Form -->
        <form [formGroup]="villageForm" *ngIf="data.module === 'Village'">
            <div>
                <div>
                    <h3>Village Code</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>Village Code</mat-label>
                         <input matInput formControlName="village_code">
                     </mat-form-field>
                 </div>
            </div>

            <div>
                <div>
                    <h3>Village Name</h3>
                 </div>
                 <div>
                     <mat-form-field appearance="outline" class="mat-outline-ui">
                         <mat-label>Village Name</mat-label>
                         <input matInput formControlName="village_name">
                     </mat-form-field>
                 </div>
            </div>

            <div>
                <div>
                    <h3>Select State</h3>
                </div>                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>State Name</mat-label>
                        <mat-select formControlName="state_id" (selectionChange)="getdistrictList(villageForm,'villageForm')">
                            <mat-option *ngFor="let state of states" [value]="state._id">
                                {{state.state_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div>
                    <h3>Select District</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>State Name</mat-label>
                        <mat-select formControlName="district_id" (selectionChange)="getblockList(villageForm)">
                            <mat-option *ngFor="let district of districts" [value]="district._id">
                                {{district.district_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <div>
                    <h3>Select Block</h3>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="mat-outline-ui">
                        <mat-label>State Name</mat-label>
                        <mat-select formControlName="block_id">
                            <mat-option *ngFor="let block of blocks" [value]="block._id">
                                {{block.block_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="submit" (click)="closePopUp()">Cancel</button>
                <button type="submit" (click)="isEdit ? modify(data.village_id) :  add()">{{isEdit ? 'Update' :
                    'Add'}}</button>
            </div>
        </form>

    </div>

</div>