<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">State</mat-button-toggle>
    <mat-button-toggle value="italic">District</mat-button-toggle>
    <mat-button-toggle value="underline">Block</mat-button-toggle>
    <mat-button-toggle value="underline">Village</mat-button-toggle>
</mat-button-toggle-group> -->
  <h1 class="proj-title">Troology</h1>
  <mat-tab-group class="mapping" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="State">
      <app-state-list></app-state-list>
    </mat-tab>
    <mat-tab label="District">
      <app-district-list></app-district-list>
    </mat-tab>
    <mat-tab label="Block">
      <app-block-list></app-block-list>
    </mat-tab>
    <mat-tab label="Village">
      <app-village-list></app-village-list>
    </mat-tab>
</mat-tab-group>